extends layout
block links
    link(href="servicesDetail.css" rel="stylesheet")
block content
    doctype html
    html
        head
        body
            ul
                each item in casketsItem
                    //- img.serviceImage(src="images/cremationUrns.png" width="100" height="80")
                    div(class='service_items')

                            img(src="images/lastestCollection.jpg", alt="Urn")
                            li(id=item[0]) #{item[0]}

                            img(src="images/dinotopia.jpg", alt="Urn")
                            li(id=item[2]) #{item[2]}

                            img(src="images/sunBathingCoffin.png", alt="Urn")
                            li(id=item[3]) #{item[3]}