extends layout
block links
    link(href="style/servicesDetail.css" rel="stylesheet")
block content
    div
        each taco in wifiItem
            div(class='service_items')
                each i in taco
                    ul
                        li(id=i[0]) #{i[0]}
                        li(id=i[1]) #{i[1]}
                        li(id=i[2]) #{i[2]}
                        img.image(src=i[3], alt="", height="80px", width="160px")

                        