extends layout
block links
    link(href="servicesDetail.css" rel="stylesheet")
block content
    div
        each taco in wifiItem
            div(class='service_items')
                each item in taco
                    img.serviceImage(src= item[3])
                    ul
                        li(id=item[0]) #{item[0]}
                        li(id=item[1]) #{item[1]}
                        li(id=item[2]) #{item[2]}